
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.headerimg {
    background-color: #010101;
    height: 250px;
}

.header {
    width: 100vw;  
}

.headerimg img {
    width: auto;
    z-index: -1;
    max-width: 100vw;
    min-height: 250px;
}

.main {
    display: flex;
    min-height: 500px;
    flex-direction: row;
    height:max-content;
}

.sidebar {
    background-color: whitesmoke;
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    width: 100px;
}

.sidebuttons {
    position: fixed;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    color: #000;
}

.sectionButton {
    padding:10px;
    margin: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transition: 500ms;
    background-color: #dfdfdf;
    color: #000;
}

.sectionButton:hover{
    background-color: #d16934;
    color:white;
    cursor: pointer;
}

.content {
    background-color: whitesmoke;
    flex-grow: 9;
}

.title {
    display:flex;
    flex-direction: row;
    position:absolute;
    margin-top: 150px;
    margin-left: 10vw;
    max-width: 100vw;
}

.titletext {
    margin-top: 30px;
    margin-left: 40px;
}

.titleimg img {
    border: 5px solid #c8c8c8;
}

h2 {
    color:black;
    font-family: arial;
}
.h1 {
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contentBox {
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 100px;
}

.contentBody {
    margin-left: 20px;
    padding-bottom: 30px;
}

.footer {
    text-align: center;
    margin: 30px;
}

.imgLinksDiv img{
    width:50px;
    margin-left: 50px;
    margin-right: 50px;
}

.aboutSection {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutText {
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}

.aboutImg {
    position: relative;
    width: 50%;
    max-width: 500px;
    flex-grow: .25;
}

.aboutImg:hover .overlay{
    opacity: .5;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% + 10px);
    width:calc(100% + 10px);
    opacity: 0;
    transition: .5s ease;
    background-color: whitesmoke;
}


.aboutImg img {
    height: 100%;
    width:100%;

    border: 5px solid #c8c8c8;
}

a{
    text-decoration: none;
    color:black;
    transition: 500ms;
}
a :hover{
    text-decoration: none;
    color: #d16934;
    cursor: pointer;
}

p {
    font-size: larger;
    line-height: 2;
    font-family: arial;
    margin-left: 20px;
}